@model IdentitySample.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

    <hr />  <h4>
        Hoặc kết nối với tài khoản mạng xã hội
       
    </h4>

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default " id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}



<div class="mod-login-third" style="width:300PX">
    <div class="mod-third-party-login mod-login-third-btns">
        <div class="mod-third-party-login-line">
            <span>Hoặc kết nối với tài khoản mạng xã hội</span>
        </div>
        <div class="mod-third-party-login-bd">
            <a href="http://batdongsannhadat247.com/wp-login.php?loginSocial=facebook" data-plugin="nsl" data-action="connect" data-redirect="current" data-provider="facebook" data-popupwidth="475" data-popupheight="175" class="btn-login-fb">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
        </div>
        <div class="login-gg">
            <a href="http://batdongsannhadat247.com/wp-login.php?loginSocial=google" data-plugin="nsl" data-action="connect" data-redirect="current" data-provider="google" data-popupwidth="600" data-popupheight="600" class="btn-login-gg">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Google
            </a>
        </div>
    </div>
</div>