@model IEnumerable<Planner2.Models.MainTask>
@{
    Planner2Entities db = new Planner2Entities();
}
@using Planner2.Extentions
@foreach (var item in Model)
{
    <li>

        <div class="row">
            <div class="col-md-3">
                <a href="/post/info/?id=@item.SeoUrl">
                    <img class="lazy" data-src="@item.Picture">
                </a>
            </div>
            <div class="col-md-9">
                <div class="info-realty">
                    <h4><a href="/post/info/?id=@item.SeoUrl">@item.TaskName</a></h4>



                </div>
                <div class="details">
                    <div class="huong-dat">
                        <label style="width:100%">Ngày đăng: @item.StartDate.ToString_N() </label>
                    </div>
                    <div class="location">
                        <label>Ngày kết thúc: @item.FinishDate.ToString_N() </label>
                    </div>
                    @if (item.TinMuaBan == "NHADAT")
                    {

                        <div class="price">
                            <label>Giá<span>:</span></label>
                            @if (item.Gia.HasValue&& item.Gia!=0)
                            {<span>@item.Gia</span>
                            }
                            @item.TyGia
                        </div>

                        if (item.Gia.HasValue)
                        {
                            <div class="area">
                                <label>Diện tích<span>:</span></label>
                                @item.DienTich m2
                                <span><img src="http://batdongsannhadat247.com/wp-content/themes/hrm/images/hot.gif" alt="anh hot" class="img-responsive"></span>
                            </div>
                        }
                        if (!string.IsNullOrEmpty(item.Map_Huong))
                        {
                            <div class="huong-dat">

                                <label>Hướng<span>:</span></label>
                                @item.Map_Huong

                            </div>
                        }
                        if (item.KhuVuc_TP.HasValue)
                        {
                            <div class="location">
                                <label>Vị trí<span>:</span></label>
                                <a href="">@db.ThanhPhoes.Where(v => v.MaQuanHuyen == item.KhuVuc_Huyen).Select(v => v.QuanHuyen).FirstOrDefault()</a> - <a>@db.ThanhPhoes.Where(v => v.MaThanhPho == item.KhuVuc_TP).Select(v => v.TenThanhPho).FirstOrDefault()</a>
                            </div>
                        }
                    }
                    else
                    {
                        var nd = Planner2.Module.HtmlUtilities.ConvertToPlainText(item.Description);
                        <span>
                            @Html.Raw(nd.Substring(0, nd.Length < 150 ? nd.Length : 150)) ...
                        </span>
                    }
                    <a href="/post/info/?id=@item.SeoUrl" class="view-more">Xem chi tiết</a>
                </div>
            </div>
        </div>


    </li>
}